
#top-menu {
    margin: 0 auto; 
    width: full;
    background: rgb(106,162,196);
background: linear-gradient(0deg, rgba(106,162,196,1) 2%, rgba(192,177,177,1) 58%, rgba(4,4,4,1) 99%);
    border-style: solid;
    border-color: rgba(106,162,196,1);
}
.game-stats {
    column-count: 2;
    text-align: center;
}
   
dl { text-align: center;
    font-size: 24px;
    
}
dd {
    text-align: center;
    font-size: 28pt;
}
.columns {
    display: grid;
    grid-template-columns:  1.25fr 1.5fr 1fr;
}
#first-column {
    text-justify: center;
    background-image: url("https://previews.123rf.com/images/siraphol/siraphol1502/siraphol150205996/36703824-old-metal-steel-background.jpg?fj=1") ;
    background-size: cover;
    background-position: center;
   
}
#help-info {
    background-color: rgb(192, 177, 177);
    max-width: fit-content;
    border-radius: 10%;
    max-height: fit-content;


}
#second-column {
    background: rgb(4,4,4);
background: linear-gradient(0deg, rgba(4,4,4,1) 0%, rgba(192,177,177,1) 58%, rgba(106,162,196,1) 99%);
    border-color: rgba(106,162,196,1);
    border-style: solid;
}
#third-column {
    background: rgb(0,0,0);
    background: linear-gradient(315deg, rgba(0,0,0,1) 22%, rgba(192,177,177,1) 100%);
    border-color:black;
    border-style:groove
}
#help-info {
    font-weight: bold;
    display: flex;
    margin: auto;
    margin-top: 0%;
}
#button50 {
    display: flex;
background-color: gray;
color: lightskyblue;
border: 1px outset black;
margin:auto;
margin-top: 5%;
}
#button100 {
    display: flex;
background-color: gray;
color: lightskyblue;
border: 1px outset black;
margin:auto;
margin-top: 2%;
}
#button200 {
    display: flex;
background-color: gray;
color: lightskyblue;
border: 1px outset black;
margin: auto;
margin-top: 2%;
}
#nextTurn {
    border: 1px outset black;
    display: flex;
    background-color: skyblue;
    color: black;
    margin: auto;
    margin-top: 5%;

}